.DS_Store
resources/OS Test.nvram
resources/vmware.vmsd
resources/vmware.vmxf
serialOut
toolchain/i686-*
toolchain/source
*.img
*.elf
*.map
*.a
*.sym
*.o
disasm
obj
doc/html
.gdbhistory
.project
.cproject

