.DS_Store
resources/OS Test.nvram
resources/vmware.vmsd
resources/vmware.vmxf
serialOut
toolchain/i686-elf
toolchain/source
utils/geninitramfs
utils/genmapfile
*.img
*.elf
*.map
*.a
*.sym
*.o
disasm
obj
doc/html
.gdbhistory
.project
.cproject

