.DS_Store
resources/OS Test.nvram
resources/vmware.vmsd
resources/vmware.vmxf
serialOut
toolchain/i686-*
toolchain/x86_64-*
toolchain/arm-*
toolchain/source
*.img
*.elf
*.exe
*.dll
*.map
*.a
*.sym
*.o
*.bin
disasm
obj
doc/html
.gdbhistory
.project
.cproject
oldcode

